.Form-login{
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    object-fit: contain;
    position: relative;
    width: 70%; /* ou une largeur fixe comme 500px si nécessaire */
    margin: auto;
}

.button_container {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   @media screen and (max-width: 768px) {
    .front {
      padding: 8px 50px;
      font-size: 1rem;
    }
    .button_container {
      margin-top: 10%;
      margin-bottom: 5%;
    }
   }