.Form-register {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: contain;
  position: relative;
  margin-bottom: 5%;
  padding-right : 10%;
  padding-left: 10%;
}

.field-with-aide {
  display: flex;
  align-items: center; /* Pour aligner verticalement */
  justify-content: space-between; /* Pour l'espacement horizontal */
}


.button_container {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 @media screen and (max-width: 768px) {
  .front {
    padding: 8px 50px;
    font-size: 1rem;
  }
  .button_container {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .champ-container {
    flex-wrap: wrap;
  }
 }

 .row {
  display: flex;
  justify-content: center; /* Align to the start */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Adjust the gap as needed */
  flex-wrap: wrap; /* Wrap onto the next line if necessary */
  max-width: 100%;
}

.champ-container {
  margin-left: 3%;
  display: flex; /* Use flexbox to align children */
  align-items: center; /* Align items vertically in the center */
  justify-content: flex-start; /* Align items to the start of the container */
  gap: 10px; /* Adjust the gap as needed */
  width: 100%;
}

.invisible-field {
  visibility: hidden; /* Masque le champ sans le supprimer du flux du document */
  opacity: 0; /* Rend le champ complètement transparent */
}
