.Bandeau-admin{
    width: 100%;
    height: 10%; /* Hauteur fixe du bandeau */
    position: fixed;
    background: #1d244b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
}

.Logo-AD{
    width: auto; /* Vous pouvez spécifier une largeur en pourcentage ou une valeur fixe */
    height: 100%; /* La hauteur s'ajustera automatiquement pour maintenir le ratio d'aspect */
    object-fit: cover; /* Ajuste automatiquement l'image tout en conservant son ratio d'aspect */
    cursor: pointer;
    align-self: center;
}

.Logo-Admin{
    margin-right: 5%; /* Espacement entre les logos */
    height: 100%;

}
