.no-scroll {
    overflow: hidden;
    height: 100%;
  }

  .Onglet1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    object-fit: contain;
    position: relative;
}