.no-scroll {
  overflow: hidden;
  height: 100%;
}

.Onglet1 {
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: contain;
  position: relative;
}

.pageStand {
  padding-bottom: 1%;
}

@media screen and (max-width: 768px) {
  .pageStand {
    margin-top: 30%;
    padding-bottom: 5%;
  }
  
}

@media screen and (max-width: 1024px) {
  .pageStand {
    margin-top: 20%;
  }
}

.download-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}