.Bandeau {
    width: 100%; /* Prend la largeur totale de la page */
    height: 10%; /* Hauteur en pourcentage par rapport au contenant parent */
    position: fixed;
    background: #1d244b;
    display: flex;
    z-index: 100;
  }
  
  
.Logo {
    width: auto; /* Vous pouvez spécifier une largeur en pourcentage ou une valeur fixe */
    height: 100%; /* La hauteur s'ajustera automatiquement pour maintenir le ratio d'aspect */
    object-fit: contain; /* Ajuste automatiquement l'image tout en conservant son ratio d'aspect */
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    position: absolute;
    cursor: pointer;
}

.Profile{
    height: 60%; 
    /* padding-left: 90%; */
    top: 50%;
    transform: translateY(-50%); 
    position: absolute;
    cursor: pointer;
}

.Calendrier{
    height: 60%;
    /* padding-left: 80%; */
    top: 50%; 
    transform: translateY(-50%);
    position: absolute; 
    cursor: pointer;
}

.Alerte{
    height: 60%; 
    /* padding-left: 70%; */
    top: 50%; 
    transform: translateY(-50%); 
    position: absolute;   
    cursor: pointer;
} 


@media (max-width: 1024px) {
    .Alerte{
        height: 60%; 
        padding-left: 80%;
        top: 50%; 
        transform: translateY(-50%); 
        position: absolute;   
    }
    .Calendrier{
        height: 60%;
        padding-left: 50%;
        top: 50%; 
        transform: translateY(-50%);
        position: absolute; 
    }
    .Profile{
        height: 60%; 
        padding-left: 20%;
        top: 50%;
        transform: translateY(-50%); 
        position: absolute;
    }
}

