.Fond {
    position: relative; /* Changement de position à relative */
    width: 50%;
    height: auto;
    background-color: rgba(218, 218, 221);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    margin-top: 3%;
  }
    
  .EnTete {
      width: 100%;
      height: 1.75rem;
      position: relative;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
  }
    
  .Couleur1,
  .Couleur2,
  .Couleur3 {
      position: absolute;
      height: 1.75rem; /* Hauteur de 7 pixels */
  }
    
  .Couleur1 {
    width: 40%;
    background-color: #83b849;
    border-top-left-radius: 0.75rem; /* Rayon de bordure arrondie supérieur gauche de 3 pixels */
  }
    
  .Couleur2 {
      background-color: #5e8d38;
      width: 40%;
      left: 33%;
      border-top-left-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem; 
  }
    
  .Couleur3 {
      background-color: #485f3f;
      left: 65%; /* Position horizontale de 158 pixels par rapport à l'élément parent */
      width: 35%;
      border-top-left-radius: 0.75rem; /* Rayon de bordure arrondie supérieur gauche de 3 pixels */
      border-top-right-radius: 0.75rem; /* Rayon de bordure arrondie supérieur droit de 3 pixels */
      border-bottom-left-radius: 0.75rem; /* Rayon de bordure arrondie inférieur gauche de 3 pixels */
  }
    


@media (max-width: 1024px) {
    .Fond{
        width: 70%;
    }
}
    


