.field {
  padding-bottom: 5%;
  align-items: left;
  width: 100%;
}

@font-face {
  font-family: 'Toma';
  src: url('../Police/Toma-Regular.ttf') format('truetype');
  /* Assurez-vous d'ajuster le chemin en fonction de la structure de votre projet */
}

.field label {
  font-family: 'Toma'; 
  font-size: 16px;
  color: #333; 
}

.input {
  width: 100%;
  height: 25px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: rgba(170, 173, 191, 0.5);
  color: #0d0c22;
  transition: .5s ease;
  margin-top: 1%;
}

.input:focus, input:hover {
  outline: none;
  border-color: #454C8B;
  background-color: rgba(170, 173, 191, 0.5);
}

@media screen and (max-width: 768px) {
 .field label {
    font-size: 12px;
  }
}