.horaire-row {
  display: flex;
  justify-content: space-between; /* This will space out the children evenly */
  align-items: center; /* This will vertically align the children in the middle */
}

.horaire-row .field:first-child {
  flex: 2;
}

.horaire-row .field:last-child {
  width: 20%; /* Or whatever width makes it align with the others */
  margin-right: 10%;
}

.field {
  display: flex;
  flex-direction: column; /* Alignez les éléments en colonne */
  padding-bottom: 5%;
  width: 85%; /* Assurez-vous que le conteneur remplit la largeur du parent */
  margin-left: 5%;
}

.field label {
  font-family: 'Toma'; 
  font-size: 16px;
  color: #333;
  margin-bottom: 0.5rem; /* Ajoutez un espace entre le label et le champ */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* S'assure que le texte ne déborde pas */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
}

/* Ajustez la largeur à 100% pour remplir le conteneur .field */
input.input, select.input {
  width: 100%; /* Mettez à jour la largeur ici */
  height: 30px; /* Ajustez la hauteur pour correspondre à celle des select si nécessaire */
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: rgba(170, 173, 191, 0.5);
  color: #0d0c22;
  transition: .5s ease;
  box-sizing: border-box; /* Assurez-vous que la bordure et le padding sont inclus dans la largeur */
}

input.input:focus, input.input:hover,
select.input:focus, select.input:hover {
  outline: none;
  border-color: #454C8B;
  background-color: rgba(170, 173, 191, 0.5);
}

@media screen and (max-width: 768px) {
  .field label {
    font-size: 12px;
  }
}
