@font-face {
  font-family: 'Olive';
  src: url('../Police/OlivessansPimiento.ttf') format('truetype');
  /* Assurez-vous d'ajuster le chemin en fonction de la structure de votre projet */
}

.Form-register {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: contain;
  position: relative;
  margin-bottom: 5%;
  padding-right : 10%;
  padding-left: 10%;
}

.field-with-aide {
  display: flex;
  align-items: center; /* Pour aligner verticalement */
  justify-content: space-between; /* Pour l'espacement horizontal */
}


.button_container {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
  align-items: center;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: 485F3F;
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #83B849 0%,
    #5E8D38 8%, 
    #5E8D38 92%, 
    #83B849 100%
  );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 10px 90px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-family: 'Olive', sans-serif;
  color: white;
  background: #83B849;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }

 @media screen and (max-width: 768px) {
  .front {
    padding: 8px 50px;
    font-size: 1rem;
  }
  .button_container {
    margin-top: 10%;
    margin-bottom: 5%;
  }
 }