@font-face {
  font-family: "Indie";
  src: url("../Police/IndieFlower-Regular.ttf") format("truetype");
}

.Titre {
  font-family: "INDIE";
  font-size: 160%;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .Titre {
    font-size: 100%;
  }
}

