.header-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the bottom */
  margin: auto;
}

.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Align items to the bottom */
  width: 80%;
  margin:  auto;
}

.separator-zone {
  height: 0,5px; /* Hauteur du séparateur */
  background-color: #1D244B; /* Couleur du séparateur */
  margin: 0 5%;
  margin-bottom: 2%;
}

.changer-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 3%;
}

.field-container {
  margin-left: 5%;
  display: flex; /* Use flexbox to align children */
  align-items: center; /* Align items vertically in the center */
  justify-content: flex-start; /* Align items to the start of the container */
  gap: 10px; /* Adjust the gap as needed */
}

.form-display-zone {
  width: 80%;
  max-width: 100%;
  align-items: flex-start; /* Alignement à gauche */
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.modif-button {
  text-align: center;
  margin: 2% auto;
}