.separator-benevole {
    height: 0,5px; /* Hauteur du séparateur */
    background-color: #1D244B; /* Couleur du séparateur */
    margin: 0 5%; /* Espace au-dessus et en dessous du séparateur */
    margin-bottom: 2%;
  }
  