@media screen and (max-width: 480px) {
  .Container-texte {
    text-align: center;
    font-size: 80%;
  }
}

.Container-texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.titre-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: auto 8%;
}