@media screen and (max-width: 480px) {
  .Container-texte {
    text-align: center;
    font-size: 80%;
  }
}

.titre-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 3% 8%;
}