.form-display {
  width: 80%;
  max-width: 100%;
  /* align-items: flex-start; Alignement à gauche */
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.form-display > * {
  width: 80%; /* To make sure that all children of .form-display take up full width */
}

.horaire-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; /* This should be 100% to match the .form-display width */
}

/* Specific classes for inputs to manage spacing */
.horaire-container .input,
.horaire-container .input-small,
.horaire-container .input-list {
  flex-grow: 1; /* This allows the inputs to grow and fill the space */
  margin-left: 0px;
  margin-right: 4%;
}

/* To align the "Liste de bénévoles" with "Description" and "Référent" */
.horaire-container .input-list {
  text-align: right; /* This aligns the text to the right */
}

.input,
.input-small,
.input-list {
  padding: 5px; /* Adjust input padding as needed */
  margin-bottom: 10px; /* Space between input fields */
}

.btn-changer-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.Entete-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.button_container {
  display: flex;
  flex-direction: column; /* Alignement vertical */
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  gap: 10px; /* Espacement entre les boutons */
}

.add-button {
  background-color: #83b849; /* Couleur du bouton */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  width : 40px;
  height : 20px;
  border-radius: 30%;
  /* text-align: center; */
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
}

.add-btn-container {
  text-align: right;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-top: 8%;
}

.referent-container {
  display: flex;
  align-items: center; /* Pour aligner verticalement */
  justify-content: space-between; /* Pour l'espacement horizontal */
  position : relative;
  width: 95%;
}

.referent-input {
  margin-bottom: 2%;
}

.supp-button {
  color: #83B849;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: -3%;
  margin-top: 1%;
}

@media screen and (max-width: 1024px) {
  .add-button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .add-button {
    font-size: 15px;
    width: 30px;
    height: 15px;
  }
  .supp-button{
    left: -10%;
  }
  .horaire-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-stand {
  display: flex; /* Assurez-vous que la disposition est flex */
  width: 60%;
  flex-direction: column; /* Les enfants seront alignés verticalement */
  align-items: center; /* Pour centrer les enfants horizontalement */
  margin: auto; /* Pour centrer le conteneur dans la page */
  padding: 20px; /* Espacement autour du contenu */
}

.separator-stand {
  height: 0,5px; /* Hauteur du séparateur */
  background-color: #1D244B; /* Couleur du séparateur */
  margin: 0 5%; /* Espace au-dessus et en dessous du séparateur */
  margin-bottom: 2%;
}

p {
  margin-bottom: 0;
  padding-bottom: 0;
}